.hero-section {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero/hero-mob.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $primary-white-color;

  @include retina {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/hero-mob-2x.jpg');
  }

  @include tablet {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/hero-tab.jpg');
    padding-top: 118px;
    padding-bottom: 118px;

    @include retina {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero/hero-tab-2x.jpg');
    }
  }

  @include desktop {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/hero-desk.jpg');

    padding-top: 200px;
    padding-bottom: 200px;

    @include retina {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero/hero-desk-2x.jpg');
    }
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.hero-section__title {
  margin-bottom: 30px;

  font-weight: 900;
  @include font(26px, 1.6);
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @include desktop {
    @include font(44px, 1.4);
  }
}

.hero-section__btn {
  display: inline-block;
  padding: 10px 24px;

  background-color: $accent-color;
  color: inherit;
  border: none;
  border-radius: 4px;

  font-weight: 700;
  @include font(16px, 1.9);
  letter-spacing: 0.06em;

  cursor: pointer;

  @include desktop {
    padding: 10px 32px;
  }
}
