.team-list {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 24px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: $primary-white-color;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include tablet {
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);
  }

  @include desktop {
    width: calc((100% - 8 * 15px) / 4);
  }
}

.team-list__image {
  max-width: 100%;
  display: block;
  margin-bottom: 30px;
}

.team-list__name {
  margin-bottom: 10px;

  color: $primary-text-color;

  font-weight: 500;
  @include font(16px, 1.17);
}

.team-list__position {
  margin: 0;
  color: $secondary-text-color;

  @include font(16px, 1.2);
}
