.team-list {
  display: flex;
  text-align: center;
}

.team-list__item {
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: $primary-white-color;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team-list__image {
  display: block;
  margin-bottom: 30px;
}

.team-list__name {
  margin-bottom: 10px;

  color: $primary-text-color;

  font-weight: 500;
  @include font(16px, 1.17);
}

.team-list__position {
  margin: 0;
  color: $secondary-text-color;

  @include font(16px, 1.2);
}
