.form-container {
  margin-left: 95px;
}
.form-join {
  display: flex;
}

.form-join__field {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}

.form-join__input {
  padding: 15px;
  width: 358px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;

  @include transition(border-color);

  &:focus-within {
    border-color: $accent-color;
  }
}

.form-join__btn {
  position: relative;
  display: block;
  cursor: pointer;

  min-width: 200px;
  height: 50px;
  padding: 10px 28px;
  color: $primary-white-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  text-align: start;
  font-weight: 700;
  @include font(16px, 1.9);
  letter-spacing: 0.06em;

  &::after {
    content: '';

    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../images/icon-send.svg);
    background-size: contain;
  }
}
