.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
  padding-top: 16px;
  padding-bottom: 16px;

  @include tablet {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.mobile-menu {
  @include tablet {
    display: none;
  }
}

.menu {
  display: none;

  @include tablet {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    margin-right: 96px;

    @include desktop {
      margin-right: 312px;
    }

    & .navigation__link {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }

  .navigation__link {
    position: relative;
    color: $primary-text-color;
    font-weight: 500;
    @include font(14px, 1.17);
    letter-spacing: 0.02em;

    @include transition(color);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  .navigation__link--current {
    color: $accent-color;

    @include tablet {
      &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: -3px;
        width: calc(100% + 6px);
        height: 4px;
        border-radius: 2px;
        background-color: $accent-color;
      }
    }
  }

  .contact-list {
    @include desktop {
      display: flex;
    }
  }

  .contact-list__item:not(:last-child) {
    margin-bottom: 10px;

    @include desktop {
      margin-bottom: 0;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  .contact-list__link {
    display: flex;
    align-items: center;
    color: $secondary-text-color;
    @include font(12px, 1.5);

    @include desktop {
      font-size: 14px;
    }
  }

  .contact-list__icon {
    padding: 0;
    fill: currentColor;
    margin-right: 8px;
    @include desktop {
      margin-right: 10px;
      &.email {
        width: 16px;
        height: 12px;
      }

      &.tel {
        width: 10px;
        height: 16px;
      }
    }
  }
}
