.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
  padding-top: 16px;
  padding-bottom: 16px;
}

.navigation {
  display: flex;
  align-items: center;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 796px;
  z-index: 999;
  padding: 48px 0 48px 40px;
  background-color: $primary-white-color;
  overflow-y: scroll;

  transform: translateX(100%);
  @include transition(transform);

  &.is-open {
    transform: translateX(0);
  }
}

.navigation__toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  color: currentColor;

  &.js-close-menu {
    position: absolute;
    top: 10px;
    right: 15px;
  }
}

.navigation__icon {
  fill: currentColor;
  @include transition(color);

  .navigation__toggle:hover &,
  .navigation__toggle:focus & {
    color: $accent-color;
  }
}
// .navigation {
//   display: flex;
//   align-items: center;
// }

.nav-list {
  margin-bottom: 302px;
}

.nav-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.navigation__link {
  position: relative;

  color: $primary-text-color;
  font-weight: 500;
  @include font(40px, 1.17);
  letter-spacing: 0.02em;

  @include transition(color);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.navigation__link--current {
  color: $accent-color;

  // &::after {
  //   content: '';

  //   position: absolute;
  //   bottom: -1px;
  //   left: 0;
  //   width: 100%;
  //   height: 4px;
  //   border-radius: 2px;
  //   background-color: $accent-color;
  // }
}

.contact-list {
  display: flex;
  flex-direction: column;
}

.contact-list__item {
  margin-bottom: 32px;
  &.accent {
    order: -1;
  }
  &:last-child {
    margin-bottom: 64px;
  }
}

.contact-list__link {
  color: $secondary-text-color;
  @include font(24px, 1.17);

  &.accent {
    color: $accent-color;
    font-size: 40px;
  }
}

.contact-list__icon {
  display: none;
  // padding: 0;
  // fill: currentColor;
  // align-items: center;
  // margin-right: 10px;
}

.social-mobile {
  display: flex;
}

.social-mobile__item {
  display: flex;
  align-items: center;

  &:not(:last-child)::after {
    content: '';
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    width: 1px;
    height: 22px;
    background-color: rgba(33, 33, 33, 0.2);
  }
}

.socila-mobile__link {
  @include font(22px, 1.2);
  color: $accent-color;
}
