.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--no-padding {
  padding-top: 0;
}
.section--background {
  background-color: $secondary-background-color;
}

.section__title {
  margin-bottom: 50px;

  color: $primary-text-color;

  @include font(36px, 1.17);
  text-align: center;
}
