$primary-white-color: #ffffff;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$primary-background-color: #2f303a;
$secondary-background-color: #f5f4fa;
$icon-color: #afb1b8;

body {
  color: $primary-text-color;
  background-color: $primary-white-color;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}
